
<div class="present">
    <div class="present-text">
        <h3>Find your inspiration.</h3>
        <div class="present-content">Join the Bijishashi community.

        </div>

        <br><br><br>
        <a href="/users/sign_up" class="join-btn">Sign Up Now</a>
    </div>
</div>
<!--<div class="about-us" id="about-path">-->
<!--    <div class="wrapper" id="wrapper1">-->
<!--        <div class="image-wrapper">-->
<!--            <%# image_tag("man.jpg", alt: "Picture", title: "Picture") %>-->
<!--        </div>-->
<!--        <div class="section-content">-->
<!--            <div class="content-wrapper">-->
<!--                <div class="content-title">-->

<!--                    <h3>Need work done?</h3>-->
<!--                    <hr>-->
<!--                </div>-->
<!--                <div class="content-main">-->
<!--                    Post your project and receive requests from freelancers within minutes. Our reputation system will make it easy to find the perfect freelancer for your job. It's the simplest and safest way to get work done online!-->


<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="wrapper" id="wrapper2">-->
<!--        <div class="section-content">-->
<!--            <div class="content-wrapper">-->
<!--                <div class="content-title">-->

<!--                    <h3>How do you benefit?</h3>-->
<!--                    <hr>-->
<!--                </div>-->
<!--                <div class="content-main">-->
<!--                    You'll receive requests from our talented freelancers within minutes-->
<!--                </div>-->
<!--                <br>-->
<!--                <div class="content-main">-->
<!--                    Keeping up-to-date is easy with our realtime chat, 24/7 support, time tracker, and mobile apps-->
<!--                </div>-->
<!--                <br>-->
<!--                <div class="content-main">-->
<!--                    Pay for work safely and securely. Only release payment when you are 100% satisfied with the work provided!-->
<!--                </div>-->

<!--            </div>-->
<!--        </div>-->
<!--        <div class="image-wrapper">-->
<!--            <%= image_tag("home.jpg") %>-->
<!--        </div>-->
<!--    </div>-->