	<% if user_signed_in? %>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<% @image.each do |image| %>
			<div class="one-image row">
				<div class="one-image_user col-md-10">
					<div class="col-md-1">
						<img class="profile-image img-circle img-responsive" src="https://www.timeshighereducation.com/sites/default/files/byline_photos/default-avatar.png" >
					</div>
					<%= link_to image.user.email, showuser_path(image.user) %>
				</div>
				<div class="col-md-10 col-md-offset-1">
					<%= link_to image_tag(image.file, alt: "Picture", title: "Picture", class: "img-responsive"), image %>
				</div>
			</div>
			<br>
			<% end %>
		</div>
	</div>
	<hr>
	

	<% else %>
	<h3>Find your inspiration.</h3>
	<div class="present-content">Join the Bijishashi community.
	</div>
	<a href="/users/sign_up" class="join-btn">Sign Up Now</a>
	<% end  %>
