<% provide(:title, @title) %>
<div class="row">
  <div class="show_follow col-md-8">
    <% if @users.any? %>

    <div class="user_avatars">
      <% @users.each do |user| %>
      <br></br>
      <%= link_to(user.email, showuser_path(user))%>
      <% end %>
    </div>
    <% end %>
    <span><%= link_to "Back", showuser_path(@user) %></span>
  </div>
</div>