<% provide(:title, @user.fullname) %>

<br>
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class = "col-md-3"> </div>
		<div class="user-avatar col-md-2">
			<img class="profile-image img-circle img-responsive" src="http://mp3red.me/cover/4665479-460x460/animal-island.jpg" >
		</div>
		<div class="user-info col-md-4">
			<h3><%= @user.email %></h3>
			<h4><%= @images.size  %> posts</h4>		
		</div>
	</div>
</div>
<br>
<br>
<div class="row">	
	<div class="col-md-10 col-md-offset-1">
    	<% @images.each do |image| %>
    		<div class="square">
    			<div class="square-content">
    				<%= link_to image_tag(image.file, alt: "image", class: "img-responsive"), image %>
    			</div>
    		</div>
    	<% end %>
	</div>
</div>