@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,700");

/* Header */

.navbar{
	background-color: black;
	
	border: none;}


	$header_palette: 'accent2';

	body {
		padding-top: 3.125em;

		&.landing {
			padding-top: 0;
		}

	}

	#header {
		
		
		cursor: default;
		height: 3.25em;
		left: 0;
		line-height: 3.25em;
		position: fixed;
		text-align: right;
		top: 0;
		width: 100%;
		z-index: _misc(z-index-base) + 1;

		> h1 {
			color: _palette($header_palette, fg-bold);
			display: inline-block;
			height: inherit;
			left: 1.25em;
			line-height: inherit;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;

			a {
				font-size: 1.25em;
			}
		}

		a {
			
			color: _palette($header_palette, fg-bold);
			display: inline-block;
			margin-right: 1.25em;
			text-decoration: none;

			&[href="#nav"] {
				
				-webkit-tap-highlight-color: rgba(0,0,0,0);

				&:before {
					margin: 0 0.5em 0 0;
				}
			}

			& + a[href="#nav"]:last-child {
				border-left: solid 1px _palette($header_palette, border);
				padding-left: 1.25em;
				margin-left: 0.5em;
			}
		}

		&.alt {
			background-color: transparent;
			font-size: 1.25em;
			padding: 1em 2em;
			position: absolute;

			> h1 {
				color: inherit;
				position: static;
				float: left;
			}

			a[href="#nav"] {
				margin-right: 0;
			}
		}
	

	

		#header {
			height: 44px;
			line-height: 44px;

			> h1 {
				left: 1em;

				a {
					font-size: 1em;
				}
			}

			&.alt {
				font-size: 1em;
			}
		}
	}

	
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');

.navbar{
	background-color: white;
	margin-bottom: 0;
	box-shadow: 0 2px 1px 1px #b1b0b0;
	border: none;
}

.navbar .container{
	width: 100%;
	padding: 0 0;
}

.navbar .container .navbar-header{
	background-color: #0083bb;
	width: 140px;
	height: 80px;
	text-align: center;
	font-family: 'Baloo Bhaina', cursive;
}

.navbar .container .navbar-header a#logo{
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
	font-size: 3.2em;
	margin-top: 12px;
}

.navbar .container .navbar-right{
	padding-right: 15px;
}

.navbar .container .navbar-right li > a{
	color: black;
	padding: 30px 20px;
	text-transform: uppercase;
}

.navbar .container .navbar-right .dropdown-toggle{
	display:inline-block;
	padding: 15px 15px 10px 15px;
	.ava{
		float: left;
	}
	.name{
		margin-top: 15px;
		float: left;
		text-transform: none;
		font-size: 1.2em;
	}
}

.navbar .container .navbar-right img{
	width: 50px;
}

.navbar .container .navbar-right li > a:hover{
	background-color: transparent;
	color: #02AAF3;
	cursor: pointer;
}

.navbar .container .navbar-right li > a:focus{
	background-color: transparent;
}

.navbar .container .navbar-left{
	padding-right: 15px;
}

.navbar .container .navbar-left li > a{
	color: black;
	padding: 30px 20px;
	text-transform: uppercase;
}

.navbar .container .navbar-left li > a:hover{
	background-color: transparent;
	color: #02AAF3;
	cursor: pointer;
}

.navbar .container .navbar-left li > a:focus{
	background-color: transparent;
}

.navbar .container .navbar-left .glyphicon{
	margin-right: 10px;
	color: #05a4e8;
	font-size: 1.1em;
}

.navbar .container .navbar-right #about-link{
	border-left: solid 1px #b1b0b0;
}

.navbar-right .dropdown .dropdown-menu li > a{
	padding: 5px 0 5px 15px;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
	background-color: transparent;
}