.login-form{
	margin: 0 auto;
	margin-top: 50px;
	background-color: white;
	text-align: center;
	position: relative;
	width: 500px;
	padding: 0 0;
	border: solid 1px #989898;
	border-radius: 6px;
}

.login-form:hover{
	box-shadow: 0 1px 1px 1px #989898;
	transition: box-shadow .5s ease;
}

.login-form .login-form-title{
	background-color: #F7CAC9;
	color: white;
	text-align: left;
	padding: 20px 30px;
}

.login-form .login-form-title h2{
	display: inline-block;
	margin: 0 0;
}



.login-form .login-form-content{
	padding: 0 20px;
}

.login-form .login-form-content label{
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
}

.login-form .login-form-content #btn-login{
	margin-top: 20px;
	margin-bottom: 20px;
}

.login-form .login-form-content label.inline{
	width: 100%;
	margin-bottom: 0;
	text-align: left;
	padding-left: 25px;
}