.one-post {
	padding: 0px;
	padding-bottom: 30%;
	overflow: hidden;
}
.square {
    float:left;
    position: relative;
    width: 30%;
    padding-bottom: 30%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    overflow:hidden;
}

.square-content {
    position:absolute;
    height:80%; /* = 100% - 2*10% padding */
    width:100%; /* = 100% - 2*5% padding */
    padding: 10% 0%;
}

.image-show {
	margin-top: 5%;
}

.image-show a {
	color: #000;
	font-size: 120%;
}

.image-show a:hover {
	text-decoration: none;
}

.image-show ul {
	padding-left: 0;
}

.image-show ul li {
	list-style: none;
}

/*// follow uses*/
.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    }
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    }
/*// follow*/
.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  
  
}
.stats a {
    float: left;
    padding: 0 10px;
    /*border-left: 1px solid gray;*/
    color: gray;
  }

.stats a:first-child {
      padding-left: 0;
      border: 0;
    }
.stats a:hover {
      text-decoration: none;
      color: #337ab7;
    }

.stats a strong {
    display: block;
  }
.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}
.show_follow {
  margin-top: 10px;
}
.users.follow {
  padding: 0;
}
.one-image {
  border-radius: 10px;
  background-color: #eee;
  margin: 5px;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.one-image img {margin: 5px auto;}
.one-image_user a { display: block; padding-top: 5px; padding-bottom: 3px; padding-left: 5px; color: black; margin-left: 15px;}
.one-image_user a:hover {text-decoration: none; color: #377ab7;}
form #result-box{display: none; max-height: 300px; overflow-y: auto; overflow-x: hidden; position: absolute; background-color: #fff; border: 1px solid #eee; border-top: 0; width: 197px; max-height: 300px; line-height: 2em; font-size: 14px;}
form #result-box > a {color: #777; display: block; padding-left: 10px;}
form #result-box > a:hover {color: black; background-color: #eee; text-decoration: none;}
.table a {
  color: #777;
}
.table a:hover{
  color: #3771b7;
  text-decoration: none;
}
.table {
  border-radius: 5px;
}
.comment {
  display: inline-block;
  width: 60%;
  vertical-align: center;
  border-radius: 4px;
  border: 1px solid #ccc;
  height: 34px;
  padding: 6px 12px;
  line-height: 1.42857143;
  font-size: 14px;
  vertical-align: middle;
}